  <div class="col l12" style="overflow:hidden">
        <img src="https://pbs.twimg.com/media/Dhq2b-zXkAAmouJ.jpg" class="responsive-img"">
      </div>
        <h6>Todo main-page: 1) edit background picture 2) add search implementation and random flight deals</h6>

    <section id="search" class="section-search blue white-text center">
        <div class="container">
            <h3 class="float">Welcome! Where to?</h3>
                <div class="row s12 ">
                <div class="input-field col s3" id="origin">
                    <input type="text" class="white  autocomplete" id="autocomplete-input" placeholder="Origin location">
                </div>
                <div class="input-field col s3" id="destination">
                    <input type="text" class="white  autocomplete" id="autocomplete-input" placeholder="Destination location">
                </div>
                <div class="input-field col s3" id="depart-date">
                    <input type="text" class="datepicker white autocomplete" id="autocomplete-input" placeholder="Depart Date">
                </div>
                <div class="input-field col s3" id="return-date">
                    <input type="text" class="datepicker white  autocomplete" id="autocomplete-input" placeholder="Return Date">
                </div>
            </div>
            <button class="waves-effect waves-light btn-large" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
        </div>
    </section>